.p-container {
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gun-metal);
};

.p-container div {
  width: 550px;
  align-self: self;
};