.p-container {
  height: min-content;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202C39;
}

.p-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 2rem 1rem;
  background-color: #202C39;
}

.card {
  margin: 10px 20px;
  padding: 1rem;
}

.img-section {
  max-width: 555px;
  height: 100%;
}

.proj-image {
  width: 100%;
  margin: 10px 0 10px 0;
  padding-right: 0;
}

.lang-section {
  margin-bottom: 10px;
};
