.contact-form {
  border: (167, 167, 167) solid 0.0625rem;
}

.send-btn {
border-radius: 50px;
background: #ebcc42;
white-space: nowrap;
padding: 10px 22px;
font-size: 16px;
outline: none;
border: none;
cursor: pointer;
transition: all 0.2s ease-in-out;
}

.send-btn:hover {
transition: all 0.2s ease-in-out;
background: rgb(25, 173, 50);
color: #f1f7f7;
}
