.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 182, 182);
  height: 650px;
  padding: 40px 10px 10px;
}

.contact-form {
  border: (167, 167, 167) solid 0.0625rem;
}

.send-btn {
border-radius: 50px;
color: rgb(250, 250, 250);
background: #202C39;
white-space: nowrap;
padding: 10px 22px;
font-size: 16px;
font-weight: 600;
outline: none;
border: none;
cursor: pointer;
transition: all 0.1s ease-in-out;
}

.send-btn:hover {
transition: all 0.2s ease-in-out;
background: #ebcc42;
color: #34495B;
};
