@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;500;600&display=swap');

:root {
  --primary-font: rgb(196, 195, 195);
}

body {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-font) !important;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
}

.navbar-brand {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 500;
  color: var(--primary-font) !important;
}

.p-title {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 400;
}
