@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;500;600&display=swap');

:root {
  --white-font: rgb(250, 250, 250);
  --nav-hover: #ebcc42;
  --light-gray: rgb(182, 182, 182);
  --nav-bg: #34495B;
  --gun-metal: #202C39;
  --orange-yellow: #F0CC7F;
};
